<a href="https://colab.research.google.com/github/yangchangnaihoby/AI_7th/blob/master/Project_003_dacon_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
val = pd.read_csv('/content/drive/MyDrive/Project_003/val.csv')

In [45]:
columns = []

for i in range(1, 30 + 1) :
  columns.append('V{}'.format(i))

print(columns)

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30']

In [46]:
val_col = val.copy()
val_col = val_col[columns]
val_col.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878
1,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,0.724396,...,0.143997,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784
2,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,0.757952,...,0.011106,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502
3,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,-0.225495,...,-0.040513,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467
4,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,6.051521,...,-0.852309,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373

In [47]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

In [48]:
val_ss = pd.DataFrame(ss.fit_transform(val_col))
val_ss.columns = columns
val_ss.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,-0.177783,0.696237,0.695431,-0.159474,0.376991,-0.177243,0.554477,0.054839,-0.670890,-0.336130,...,-0.352327,-0.880277,-0.207943,-0.640623,-0.136693,0.193235,0.625880,0.273897,-0.352503,-1.996993
1,0.495973,0.203372,-0.115283,1.499744,0.849011,1.326248,0.087679,0.464405,-1.087624,0.670049,...,0.205443,0.556282,-0.085021,-2.276673,0.737451,0.411398,0.042845,-0.047128,-0.225563,-1.996825
2,0.590777,0.357005,0.128420,1.847750,-0.066092,-0.794541,0.451486,-0.227374,-0.817165,0.700989,...,0.015828,-0.167643,-0.132637,1.143898,1.199001,0.099468,-0.133608,0.054282,-0.225396,-1.996320
3,0.477619,-0.202906,0.257495,0.386148,0.187815,1.290898,-0.371751,0.549468,0.211934,-0.205798,...,-0.057825,0.108320,0.161788,-1.647833,0.157181,0.777498,0.092881,-0.018716,-0.177059,-1.996257
4,-1.559201,1.618597,0.988368,-1.722540,0.232409,-0.624400,1.767959,-1.665917,3.679938,5.581918,...,-1.216132,-0.252992,-0.280983,0.852936,0.254404,0.947893,-0.636024,-3.633134,-0.361769,-1.996088

In [49]:
val_ss = pd.concat([val_ss, val['Class']], axis = 1)
val_ss.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,Class
0,-0.177783,0.696237,0.695431,-0.159474,0.376991,-0.177243,0.554477,0.054839,-0.670890,-0.336130,...,-0.880277,-0.207943,-0.640623,-0.136693,0.193235,0.625880,0.273897,-0.352503,-1.996993,0
1,0.495973,0.203372,-0.115283,1.499744,0.849011,1.326248,0.087679,0.464405,-1.087624,0.670049,...,0.556282,-0.085021,-2.276673,0.737451,0.411398,0.042845,-0.047128,-0.225563,-1.996825,0
2,0.590777,0.357005,0.128420,1.847750,-0.066092,-0.794541,0.451486,-0.227374,-0.817165,0.700989,...,-0.167643,-0.132637,1.143898,1.199001,0.099468,-0.133608,0.054282,-0.225396,-1.996320,0
3,0.477619,-0.202906,0.257495,0.386148,0.187815,1.290898,-0.371751,0.549468,0.211934,-0.205798,...,0.108320,0.161788,-1.647833,0.157181,0.777498,0.092881,-0.018716,-0.177059,-1.996257,0
4,-1.559201,1.618597,0.988368,-1.722540,0.232409,-0.624400,1.767959,-1.665917,3.679938,5.581918,...,-0.252992,-0.280983,0.852936,0.254404,0.947893,-0.636024,-3.633134,-0.361769,-1.996088,0

In [50]:
val_good = val_ss.copy()
val_good = val_good[val_good['Class'] == 0]
print(len(val_good))

28432

In [51]:
val_bad = val_ss.copy()
val_bad = val_bad[val_bad['Class'] == 1]
print(len(val_bad))

30

In [52]:
val_good['V1'].mean()

0.003549870848956155

In [53]:
val_priority ={}

for i in range(1, 30 + 1) :
  val_priority['V{}'.format(i)] = abs(val_good['V{}'.format(i)].mean() - val_bad['V{}'.format(i)].mean())

print(val_priority)

{'V1': 3.367880803432974, 'V2': 2.9838597981707085, 'V3': 6.543998004426863, 'V4': 3.8875315790967435, 'V5': 3.459425959129293, 'V6': 1.4076234360349467, 'V7': 6.619954122133497, 'V8': 1.182131008768359, 'V9': 3.040679245485639, 'V10': 6.989864871001794, 'V11': 4.378637215227608, 'V12': 7.373584736056031, 'V13': 0.05547304093518852, 'V14': 8.347040044540066, 'V15': 0.29376235189121547, 'V16': 5.224891701577133, 'V17': 8.950537025312968, 'V18': 2.9617194189354077, 'V19': 0.746509387851927, 'V20': 0.489179550837766, 'V21': 0.03359358062541994, 'V22': 0.5237660575514502, 'V23': 0.1545532346001841, 'V24': 0.3122175116270744, 'V25': 0.11011579325088024, 'V26': 0.16552355740938463, 'V27': 1.3290818553659838, 'V28': 0.559541687040357, 'V29': 0.05428829076687415, 'V30': 0.32285490292238384}

In [54]:
val_priority_list = sorted(val_priority.items(), key = lambda x : x[1], reverse = True)
print(val_priority_list)

[('V17', 8.950537025312968), ('V14', 8.347040044540066), ('V12', 7.373584736056031), ('V10', 6.989864871001794), ('V7', 6.619954122133497), ('V3', 6.543998004426863), ('V16', 5.224891701577133), ('V11', 4.378637215227608), ('V4', 3.8875315790967435), ('V5', 3.459425959129293), ('V1', 3.367880803432974), ('V9', 3.040679245485639), ('V2', 2.9838597981707085), ('V18', 2.9617194189354077), ('V6', 1.4076234360349467), ('V27', 1.3290818553659838), ('V8', 1.182131008768359), ('V19', 0.746509387851927), ('V28', 0.559541687040357), ('V22', 0.5237660575514502), ('V20', 0.489179550837766), ('V30', 0.32285490292238384), ('V24', 0.3122175116270744), ('V15', 0.29376235189121547), ('V26', 0.16552355740938463), ('V23', 0.1545532346001841), ('V25', 0.11011579325088024), ('V13', 0.05547304093518852), ('V29', 0.05428829076687415), ('V21', 0.03359358062541994)]

In [55]:
for i in range(10) :
  print('{}. {}'.format(i + 1, val_priority_list[i][0]))

1. V17
2. V14
3. V12
4. V10
5. V7
6. V3
7. V16
8. V11
9. V4
10. V5